@page "/"
@using FriendlyCarnival.Client.Components

<Home Title="Welcome to the Friendly Carnival" @attributes="AdditionalAttributes">
    <VisitShopContent>
        Ops, this a content.
    </VisitShopContent>
</Home>

<CounterPrint CurrentCount="currentCount" Title="Counter" />
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
